/* 

write your code here

*/

.tm-content-header {
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
section,
.tm-main-nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.tm-banner {
    /* width: 100%; */
    border: 30px solid #f5f5f5;
    padding: 0;
}
section > .flex-2-col {
    display: flex;
    flex-direction: row;
}
.box-bg:hover {
    background-color: #87cefa;
}
.box > h2:hover {
    color: #fff;
}

.flex-item .tm-section-description::first-letter {
    font-size: 30px;
    color: #87cefa;
    padding-left: 20px;
}
h2 + p {
    font-style: italic;
}

.flex-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flex-item * {
    line-height: 30px;
}
section {
    position: relative;
}
section:before {
    position: absolute;
    content: "";
    background-color: #87cefa;
    width: 350px;
    height: 120px;
    top: 0%;
    left: 0;
    clip-path: polygon(86% 0, 0 0, 0 24%);
}

.carousel-content h2 {
    color: gainsboro;
    letter-spacing: 5px;
}

.tm-content-box {
    justify-content: center;
}

ol a {
    color: #4f4d46;
}

ol a:visited {
    text-decoration: underline;
}

ol li > a:hover {
    text-decoration-line: underline;
    text-decoration-style: double;
    color: #a1dde3;
}

h2 + ol li:first-child:after,
h2 + ol li:nth-child(3):after {
    content: "New";
    color: red;
    vertical-align: super;
    font-size: 12px;
}

.box-work:nth-child(2n) {
    background-color: #f2f2f2;
}
.box-work p::first-letter {
    font-size: 35px;
}
.box-work {
    padding: 10px;
    padding-bottom: 0;
}
.tm-content-box {
    display: flex;
    flex-direction: column;
}
form > div:nth-child(2) {
    position: relative;
}
form > div:nth-child(2):after {
    position: absolute;
    content: " *";
    color: red;
    font-size: 12px;
    width: 5px;
    height: 5px;
    top: 3px;
    right: 10px;
    font-size: 15px;
    font-weight: bold;
}
.contact-form {
    text-align: right;
}
.submit-btn {
    background-color: #fff;
    color: #9dd7fb;
    border: 1px solid #9dd7fb;
    padding: 0.375rem 2rem;
}
.submit-btn:hover {
    background-color: #9dd7fb;
    border: 1px solid #9dd7fb;
    color: #fff;
    outline: none;
}
.tm-nav-item:hover {
    background-color: #f5f5f5;
}
.tm-banner-text::first-letter,
.text-xs-center::first-letter {
    font-size: 30px;
    color: #6c8da6;
}
@media print {
    .tm-banner {
        border: none;
    }
    .tm-banner-inner {
        width: 80%;
        margin: 0 auto;
    }
    section > :not(.flex-2-col),
    .img-contact-us,
    .tm-sidebar {
        display: none;
    }
    section .flex-item:last-child {
        width: 30%;
    }
    .tm-team-description-container {
        width: 55%;
        font-size: 18px;
    }
    .tm-content-header {
        margin-bottom: 0 !important;
        border: none;
    }
    .flex-2-col h2 {
        margin-top: 0;
    }
    section:before {
        display: none;
    }
    .flex-item > img {
        width: 100%;
        height: auto;
    }
    .tm-content-box {
        width: 100%;
        margin: 0;
    }
    .flex-item .tm-section-title {
        color: #0f39ff;
    }
    .heading {
        margin: 0;
    }
}
